@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  font-size: 1.2em;
  font-weight: 400;

  color: rgb(255, 255, 255);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #FF48F3;
  text-decoration: inherit;
}
a:hover {
  color: #888eff;
}

body {
  margin-top: 30px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.7em;
  line-height: 1.1;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.8em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  /* padding: 0.6em 1.2em; */
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #030303;
  cursor: pointer;
  border-color: #e042d6;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #888eff;
  background-color: #2a2d69;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #888eff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


main {
  margin-top: 1rem;
  padding: 2rem;
}

footer {
  margin-top: 30px;
}

.nav {
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2em;
}

.navbar {
  margin-right: 70px;
  font-weight: 500;
}

.resume-btn {
  border-radius: 5px;
  padding: 5px;
}

.logo {
  max-width: 8rem;
  margin-right: 70px;
}

.github {
  max-width: 4rem;
  margin-right: 15px;

}

.linkedin {
  max-width: 4rem;
  margin-right: 15px;
}

.instagram {
  max-width: 4rem;
}

.footer-links {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer-logo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.about {
  border-color: #9267E0;
  border-radius: 100px;
  border-width: 4px;
  border-style: solid;
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 100px;
  box-shadow: 0 0 3rem #e0679f;
}

.homepage {
  display: flex;
  justify-content: space-between;
}

.girl-coding {
  max-width: 570px;
  margin-left: 100px;
}

.homepage-txt {
  width: 50%;
  padding-left: 170px;
}

.homepage-img {
  display: flex;
  width: 50%;
}

.app-jsx {
  height: 100vh;
  width: 100vw;
}